name: User Service CI/CD to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths:
      - 'user_service/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'user_service/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./user_service
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./user_service
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/user-service:latest